@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@layer base {
  :root {
    
    --background: #fff;
    --foreground: #0c0f0d;
    --font-sans: "IBM Plex Sans", sans-serif;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: #2d7d40;
    --card-foreground: #f4a952;

    --primary: #c4f455;
    --primary-foreground: #fff;

    --secondary: #f4a952;
    --secondary-foreground: #2d7d40;

    --accent: #fff;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: #06120b;
    --foreground: #ffffff;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: #080b0a;
    --accent-foreground: #ffff;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: #2d7d40;
    --card-foreground: #FFFF00;

    --primary: #2d7d40;
    --primary-foreground: #ffff;

    --secondary:#FFFF00;
    --secondary-foreground: #fff;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;

    font-feature-settings: "rlig" 1, "calt" 1;
    font-family: Roboto;
  }
}
